<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav navbar-left">
            <li><a [routerLink]="['Home']">Home</a></li>
            <li class="dropdown">
                <a href="#"
                   class="dropdown-toggle"
                   data-toggle="dropdown"
                   role="button"
                   aria-haspopup="true"
                   aria-expanded="false">
                    Activity
                    <span class="caret"></span>
                </a>
                <ul id="activityDropdown" class="dropdown-menu">
                    <li class="dropdown-header">Bracket</li>
                    <li><a [routerLink]="['Activity', {region:region,bracket:'2v2'}]">2v2</a></li>
                    <li><a [routerLink]="['Activity', {region:region,bracket:'3v3'}]">3v3</a></li>
                    <li><a [routerLink]="['Activity', {region:region,bracket:'5v5'}]">5v5</a></li>
                    <li><a [routerLink]="['Activity', {region:region,bracket:'RBG'}]">RBG</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li (click)="changeRegion('us')">
                <a>US</a>
            </li>
            <li (click)="changeRegion('eu')">
                <a>EU</a>
            </li>
        </ul>
    </div>
</nav>
<main>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</main>