language: csharp
os:
  - linux

before_install:
- sudo apt-get -qq update
- sudo apt-get install unzip curl
- curl -sSL https://raw.githubusercontent.com/aspnet/Home/dev/dnvminstall.sh | DNX_BRANCH=dev sh 
- source ~/.dnx/dnvm/dnvm.sh
- sudo apt-get install libunwind8 gettext libssl-dev libcurl4-openssl-dev zlib1g libicu-dev uuid-dev
- dnvm upgrade -r coreclr
- sudo apt-get install npm
- npm install typescript -g
- npm install gulp -g

install: 
- cd ~
- git clone https://github.com/NickolasAcosta/QueueDodge.git
- cd QueueDodge/QueueDodge
- dnu restore
- dnu build
- cd ../QueueDodge.Api
- dnu restore
- dnu build
- cd ../QueueDodge.Site
- dnu restore
- dnu build
- npm install
- gulp dependencies
- gulp sass
- tsc

# for kestrel!
#sudo apt-get install make automake libtool curl
#curl -sSL https://github.com/libuv/libuv/archive/v1.8.0.tar.gz | sudo tar zxfv - -C /usr/local/src
#cd /usr/local/src/libuv-1.8.0
#sudo sh autogen.sh
#sudo ./configure
#sudo make
#sudo make install
#sudo rm -rf /usr/local/src/libuv-1.8.0 && cd ~/
#sudo ldconfig

script:
- ./build.sh
