os:
  - linux
sudo: required 
dist: trusty

before_install:
- sudo sh -c 'echo "deb [arch=amd64] https://apt-mo.trafficmanager.net/repos/dotnet/ trusty main" > /etc/apt/sources.list.d/dotnetdev.list'
- sudo apt-key adv --keyserver apt-mo.trafficmanager.net --recv-keys 417A0893
- sudo apt-get -qq update -y
- sudo apt-get install npm -y
- sudo apt-get install dotnet-dev-1.0.0-preview1-002702

install: 
- cd ~
- git clone https://github.com/NickolasAcosta/QueueDodge.git

script:
- cd QueueDodge/QueueDodge
- dotnet restore
- dotnet build
- cd ../QueueDodge.Api
- dotnet restore
- dotnet build
- cd ../QueueDodge.Site
- dotnet restore
- dotnet build

