$border: #111111;
$background: #1C2126;
$card-background: rgba(23,27,31,0.7);
$defaultColor: #fcfcfc;
$fontColor: #fcfcfc;
$navbarColor: #15202B;
$tableStripe1: #2B1507;
$tableStripe2: #231207;
$footer: #3F3F46;

body {
    padding: 0;
    margin: 0;
    background-color: $background;
    color: $defaultColor;
    font-family: 'Roboto Condensed', sans-serif;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    top: 51px;
}

.icon-frame {
    display: inline-block;
    overflow: hidden;
    padding: 1px;
    background-color: #000;
    background-position: 1px 1px;
    background-repeat: no-repeat;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #B1B2B4 #434445 #2F3032;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-image: none;
    -o-border-image: none;
    -webkit-border-image: none;
    border-image: none;
}

.representation {
    padding-left: 30px;
    padding-right: 30px;
}

a, a:hover {
    text-decoration: none;
    cursor: pointer;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: $tableStripe1;
}

.table-striped > tbody > tr:nth-of-type(2n) {
    background-color: $tableStripe2;
}

table {
    td {
        border-color: $border !important;
    }

    th {
        border-color: $border !important;
    }
}

.deathknight {
    color: rgba( 196, 30, 59,1);
}

.druid {
    color: rgba(255, 125, 10,1);
}

.hunter {
    color: rgba(171, 212, 115,1);
}

.mage {
    color: rgba(105, 204, 240,1);
}

.monk {
    color: rgba(0, 255, 150,1);
}

.paladin {
    color: rgba(245, 140, 186,1);
}

.priest {
    color: rgba(255, 255, 255,1);
}

.rogue {
    color: rgba(255, 245, 105,1);
}

.shaman {
    color: rgba(0, 112, 222,1);
}

.warlock {
    color: rgba(148, 130, 201,1);
}

.warrior {
    color: rgba(199, 156, 110,1);
}

select {
    color: #000;
}

.pointer {
    cursor: pointer;
}
