body {
  padding: 0;
  margin: 0;
  background-color: #1C2126;
  color: #fcfcfc;
  font-family: 'Roboto Condensed', sans-serif;
  height: 100%;
  background-size: cover;
  background-attachment: fixed; }

main {
  position: relative;
  top: 51px; }

.icon-frame {
  display: inline-block;
  overflow: hidden;
  padding: 1px;
  background-color: #000;
  background-position: 1px 1px;
  background-repeat: no-repeat;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #B1B2B4 #434445 #2F3032;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-image: none;
  -o-border-image: none;
  -webkit-border-image: none;
  border-image: none; }

.representation {
  padding-left: 30px;
  padding-right: 30px; }

a, a:hover {
  text-decoration: none;
  cursor: pointer; }

.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #2B1507; }

.table-striped > tbody > tr:nth-of-type(2n) {
  background-color: #231207; }

table td {
  border-color: #111111 !important; }

table th {
  border-color: #111111 !important; }

.warrior, ._1 {
  color: #c79c6e; }

.paladin, ._2 {
  color: #f58cba; }

.hunter, ._3 {
  color: #abd473; }

.rogue, ._4 {
  color: #fff569; }

.priest, ._5 {
  color: white; }

.deathknight, ._6 {
  color: #c41e3b; }

.shaman, ._7 {
  color: #0070de; }

.mage, ._8 {
  color: #69ccf0; }

.warlock, ._9 {
  color: #9482c9; }

.monk, ._10 {
  color: #00ff96; }

.druid, ._11 {
  color: #ff7d0a; }

select {
  color: #000; }

.pointer {
  cursor: pointer; }

