<div class="row">
    <div class="col-xs-12">
        <h1>Live Activity <small>{{bracket}} {{region | uppercase}}</small></h1>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Region</th>
                    <th>Name</th>
                    <th>Realm</th>
                    <th class="text-center">Rank</th>
                    <th class="text-center">Rating</th>
                    <th>Watch</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="#change of activity">
                    <td>
                        <img src="app/images/region/{{change.current.character.realm.region.id}}.png" />
                    </td>
                    <td>
                        <img class="icon-frame" src="app/images/race/race_{{change.current.character.race.id}}_{{change.current.character.gender}}.jpg" />
                        <img class="icon-frame" src="app/images/class/class_{{change.current.character.class.id}}.jpg" />
                        <img class="icon-frame" src="app/images/spec/spec_{{change.current.character.specialization.id}}.jpg" />
                        <span class="_{{change.current.character.class.id}}">
                            {{change.current.character.name}}
                        </span>
                    </td>
                    <td>
                        <img class="icon-frame" src="app/images/faction/faction_{{change.current.character.race.faction.id}}.jpg" />
                        <span [ngClass]="{'text-primary': activityService.isAlliance(change.current.character.race.faction.id),'text-danger':activityService.isHorde(change.current.character.race.faction.id)}">
                            {{change.current.character.realm.name}}
                        </span>
                    </td>
                    <td class="text-center">
                        {{change.current.ranking}}
                        <small [ngClass]="{'text-success': activityService.rankingIncrease(change.previous.ranking, change.current.ranking),'text-danger':!(activityService.rankingIncrease(change.previous.ranking, change.current.ranking))}">
                            ({{change.current.ranking-change.previous.ranking}})
                        </small>
                    </td>
                    <td class="text-center">
                        {{change.current.rating}}
                        <small [ngClass]="{'text-success': activityService.ratingIncrease(change.previous.rating,change.current.rating),'text-danger':!(activityService.ratingIncrease(change.previous.rating,change.current.rating))}">
                            ({{change.current.rating - change.previous.rating}})
                        </small>
                    </td>
                    <td>
                        <a class="text-success" (click)="watch(change)">WATCH</a>
                    </td>
                </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
</div>