<h1>
    Queue Dodge
</h1>
<p>I don't like queueing into cheaters, and I don't like ads.  So I made this.</p>
<br />
<div style="position:relative; left:25px;">
    <h3>
        Live Activity Tracking
        <br />
        <small style="text-decoration: line-through;">No more waiting. See ladder changes right as they happen.</small>
        <br />
        <small>Wait 30 seconds because Blizzard is throttling requests.</small>
    </h3>
    <br />
    <h3>
        The Watcher
        <br />
        <small>Tell Queue Dodge which player to watch for and it will notify you when they get out of a game.</small>
    </h3>
    <br />
    <h3>
        Open Source
        <br />
        <small>All code is available on <a href="https://github.com/NickolasAcosta/QueueDodge">GitHub</a>. DDOS all you want, anyone can host a copy on any major platform.</small>
    </h3>
    <br />
    <h3>
        Under Development
        <br />
        <small>Consider this beta.</small>
    </h3>

</div>